body {
    margin: 0;
    background-color: rgb(218, 220, 233);
}




.row {
    max-width: 80%;
    padding-left: 10%;
    margin-bottom: 15px;
    margin-top: 15px;
}

.mensaje {
    height: 200px;
    margin-bottom: 3px;
}

