.contenedor-materiales {
    margin-bottom: 15px;

    .table {
        text-align: left;
        max-width: 80%;
        margin-left: 10%;
    
        th, td {
            padding: 20px;
            border-style: solid;
            border-color: black;
            width: 60%;
        }
    
        thead {
            background-color: rgb(41, 53, 53);
            color:  white;
        }
    }
}

  
$colores:(
    color-1:#bb2929,
    color-2:#acb432,
    color-3:#359b35,
    color-4:#3043b4

);


.pla {
    color: map-get($colores, color-1) !important;
}

.abs {
    background-color: map-get($colores, color-2) !important;
}

.flex {
    background-color: map-get($colores, color-3) !important;
}

.ptge {
    background-color: map-get($colores, color-4) !important;
}

.pla, .abs, .flex, .ptge{
    transition: all 1s;

    &:hover {
        transform: scale(1.1);
        animation-timing-function: ease;
    }
    
    
}